
@font-face {
    font-family: vivaldi;
    src: url('../fonts/VIVALDII.TTF');
}

@font-face {
    font-family: 'nunito';
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../fonts/Swis721\ Cn\ BT\ Roman.ttf');
}